@import "layout/var";



.menu{
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.2s;
    clip: auto;
    &.visible{
        opacity: 1;
        display: block;
        .menu__list{
            ul{
                li{
                    span{
                        transform: translateY(0);
                    }
                }
            }
            .menu__list__footer{
                opacity: 1;
            }
        }
    }
    &__list{
        margin: auto;
        width: 100%;
        ul{
            list-style: none;
            margin: 0;
            padding: 167px 0;
            li{
                margin-bottom: 20px;
                display: flex;
                position: relative;
                overflow: hidden;
                &:nth-child(1){
                    span{
                        transition-delay: .25s;
                    }
                }
                &:nth-child(2){
                    span{
                        transition-delay: .35s;
                    }
                }
                &:nth-child(3){
                    span{
                        transition-delay: .45s;
                    } 
                }
                &:nth-child(4){
                    span{
                        transition-delay: .55s;
                    }
                }
                span{
                    transform: translateY(100%);
                    transition: 0.3s;
                    display: block;
                    color: #fff;
                    font-size: 52px;
                    text-transform: uppercase;
                    font-weight: $b;
                    letter-spacing: 0.04em;
                    cursor: pointer;
                    display: block;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__footer{
            border-top: 1px solid  rgba(255, 255, 255, 0.15);;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            opacity: 0;
            transition: 0.3s;
            transition-delay: .65s;
            &__lng{
                font-size: 16px;
                color: #fff;
            }
            &__copy{
                font-size: 13px;
                color: rgba(255, 255, 255, 0.25);
            }
        }
    }

}