@import "layout/var";

.start{
    background-color: #202020;
    position: relative;
    &.loaded{
        .start__background{
            opacity: 1;
        }
        .start__logo{
            opacity: 1;
        }
    }
    &__background{
        background-image: url(../img/bg-start.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        opacity: 0;
    }
    &__logo{
        margin-bottom: 60px;
        transition: 0.5s;
        opacity: 0;
        img{
            margin: 0 auto;
        }
    }
    &__scroller{
        height: 32px;
        width: 32px;
        overflow: hidden;
        margin: 0 auto;
        display: none;
        &.delay{
            display: block;
        }
        &--scroller-projects{
            position: fixed;
            z-index: 10;
            bottom: 192px;
            left: 50%;
            transform: translateX(-760px);
            .start__scroller__line{
                width: 1px;
            }
        }
        &--scroller-projects{
            position: fixed;
            z-index: 10;
            top: 840px;
            left: 50%;
            transform: translateX(-760px);
            
        }
        &--scroller-projects-opened{
            position: fixed;
            z-index: 10;
            top: 840px;
            left: 50%;
            transform: translateX(-760px);
            .start__scroller__line{
                background: #2B2B2B;
            }
        }
        &--scroller-news{
            position: relative;
            margin: 0;
            z-index: 10;
            left: -16px;
            .start__scroller__line{
                background: #2B2B2B;
            }
        }
        &__line{
            width: 1px;
            margin: 0 auto;
            height: 64px;
            background: rgba(255, 255, 255, 0.8);
            animation: line-move 2s ease-out infinite;
        }
        
    }
}