@keyframes line-move {
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
  }

  @keyframes show-slide-to-top {
    0%{
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);

    }
  }
  @keyframes hide-slide-to-top {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);

    }
  }


  @keyframes show-slide-to-bott {
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);

    }
  }
  @keyframes hide-slide-to-bott {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);

    }
  }

  @keyframes animation-height {
    0%{
        height: 0px;
    }
    100% {
        height: 624px;
        
    }
  }
  @keyframes animation-height-1500 {
    0%{
        height: 0px;
    }
    100% {
        height: 400px;
        
    }
  }

